*
{
  padding: 0;
  margin: 0;
}

body{
  background-image: url(pink.jpg);
  background-size: cover;
}

.login-card {
  width: 350px;
  height: 155px;
  margin: 210px;
  margin-left: 470px;
  padding: 35px;
  background-color: #ff9999;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.log_user{
  background:#FEFEFE;
  color: #666666;
  border-radius: 10px;
  width:340px;
  height:30px;
  padding: 5px;
  font-family: verdana;
  font-size:15px;
  border:none;
}

.log_Pass{
  background:#FEFEFE;
  color: #666666;
  border-radius: 10px;
  width:340px;
  height:30px;
  padding:5px;
  font-family: verdana;
  font-size:15px;
  border:none;
}

.login-submit{
  background: #ff0099;
  border:none;
  border-radius: 10px;
  width:350px;
  height:35px;
  cursor:pointer;
  font-family:verdana;
  font-weight:700px;
  font-size: 18px;
  color:#FFFFFF;
}
